html {
  box-sizing: border-box
}

*,
*:before,
*:after {
  box-sizing: inherit
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */

html,
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

a {
  color: #5A738E;
  outline: 0;
}

body {
  margin: 0;
  background-color: #F7F7F7; // background-color: $background; // color: $primary;
  overflow-x: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.white-bg {
  background-color: #ffffff;
}

.line {
  border-top: 1px solid #dddddd;
  margin-bottom: 10px;
}

.text-orange {
  color: $orange;
}

.text-green {
  color: $green;
}

.muted-col {
  padding: 0;
}

.top-bar-container {
  top: 0;
  padding: 8px;
  width: 83.3%;
  overflow: hidden;
  display: inline-block;
  position: fixed;
  z-index: 4;
  background-color: #EDEDED;
  border-bottom: 1px solid #ccc;
  &.sidebar-close {
    width: calc(100% - 55px);
  }
  .right-menu {
    .menu-items {
      padding: 10px;
      &.active {
        background-color: #fff;
        color: $primary;
        border-radius: 0px 0px 4px 4px;
      }
    }
  }
  .toggle-menu,
  .filter-menu {
    padding: 0 15px;
    margin: 0;
    cursor: pointer;
    font-size: 20px;
    color: #5A738E;
  }
}

.sidebar-closed-body {
  width: calc(100% - 55px);
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.left-nav-container {
  min-height: 100vh;
  background: $primary;
  color: $font-color;
  padding: 0;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  .menu-container {
    list-style: none;
    padding-left: 0;
    li {
      &.active {
        text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
        background: linear-gradient(#334556, #2C4257), #2A3F54;
        box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
        border-right: 5px solid #1ABB9C;
      }
      &:hover {
        background-color: rgba(255, 255, 255, .06);
      }
      a {
        color: $font-color;
        color: #E7E7E7;
        font-weight: 500;
        position: relative;
        display: block;
        cursor: pointer;
        margin-bottom: 6px;
        padding: 13px 15px 12px;
        text-decoration: none;
      }
    }
  }
  &.closed {
    @media (min-width: 992px) {
      width: 55px;
      -webkit-transition: all linear 0.2s;
      transition: all linear 0.2s;
    }
    .menu-container {
      li {
        font-size: 24px;
        padding: 20px 10px;
      }
      a {
        margin-bottom: 0px;
        padding: 0;
      }
    }
  }
}

.heading-container {
  font-size: 24px;
  padding: 20px 10px;
  .heading {
    padding-left: 10px;
  }
}

.body-wrapper {
  top: 45px;
  position: relative;
}

.btn-primary {
  background-color: $primary;
  border: 1px solid $primary;
  &:hover,
  &:active,
  &:focus,
  &:visited {
    background-color: $primary;
    color: #ffffff;
    border-color: $primary;
    box-shadow: none;
  }
}

.success-number {
  color: $green;
}

.fail-number {
  color: $red;
}

.page-loader {
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid $primary;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  &.small {
    left: 64%;
    top: 80%;
  }
}

.breadcrumb-container {
  .breadcrumb {
    position: relative;
    left: 40px;
    margin-bottom: 10px;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}