.dashboard-container {
  height: 50vh;
  background-color: #2a3f54a1;
  .dashboard-cards-container {
    margin-top: 10px;
    .tile_stats_count {
      margin-right: 10px;
      padding-top: 10px;
      box-shadow: 4px 4px 4px #ddd;
      margin-bottom: 10px;
      min-height: 87vh;
      .stats-wrapper {
        max-height: calc(87vh - 100px);
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .stats-container {
        border-bottom: 1px solid #ddd;
        margin-bottom: 5px;
        padding-bottom: 3px;
      }
      @media (min-width: 992px) {
        width: calc((100% / 5) - 10px);
      }
      .dashboard-date {
        font-size: 12px;
      }
      .view-details-btn {
        position: absolute;
        bottom: 10px;
        width: 100%;
        background-color: white;
        padding: 5px 0 0 0px;
        border-top: 1px solid #ccc;
      }
      .test-stats-header {
        .h5 {
          margin-top: 0;
        }
      }
    }
  }
}