.test-run-wrapper {
  .test-run-table-wrapper {
    padding: 0 40px;
    .loader-container {
      min-height: 60vh;
    }
    &.run-details-table {
      top: 30px;
    }
    min-height: 60vh;
    .table {
      color: #73879C;
      font-size: 13px;
      tr th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
        border-top: 0;
        &.ascending {
          color: $secondary;
          .fa-sort-down {
            display: none;
          }
        }
        &.descending {
          color: $secondary;
          .fa-sort-up {
            display: none;
          }
        }
        .header-icons {
          padding-left: 5px;
          .fa-sort-up,
          .fa-sort-down {
            font-size: 15px;
            position: absolute;
          }
        }
      }
      tr td {
        vertical-align: middle;
      }
      .test-name-col {
        min-width: 100px;
      }
      .status-col {
        min-width: 100px;
      }
      .duration-col {
        min-width: 200px;
      }
      .run-id-col {
        width: 90px;
      }
    }
    .progress {
      margin-top: 4px;
      margin-bottom: 4px;
    }
    .progress-red {
      .progress-bar {
        background-color: $red;
      }
    }
    .progress-orange {
      .progress-bar {
        background-color: $orange;
      }
    }
    .progress-green {
      .progress-bar {
        background-color: $green;
      }
    }
    .progress-blue {
      .progress-bar {
        background-color: $light-blue;
      }
    }
    .progress-bar-danger {
      background-color: $red;
    }
    .progress-bar-success {
      background-color: $green;
    }
  }
}