// $background: #000000;
// $primary:#517890;
// $primary: #73879C;
// $secondary: #a4c0b0;
// $secondary1:#eff5f1;
$secondary2: #fafafb;
$secondary3: #f9f6e7;
// $green: #539156;
// $red:#ed6d50;
$light-blue:#5bc0de;
$dark-blue:#428bca;
$orange:#ffc107;
// new set
$background: #F7F7F7;
$primary:#2A3F54;
$secondary:#1ABB9C;
$secondary1: #73879C;
$font-color: #73879C;
$red:#E74C3C;
$green:#1ABB9C;
$font-color:#ECF0F1;