<!-- Top container -->
<div class="top-bar-container">
    <div class="pull-left">
        <span class="h4 cursor-pointer" ui-sref="main.app.basic.dashboard.detail">Automation Dashboard</span>
    </div>
    <div class="pull-right right-menu">
        <span class="menu-items cursor-pointer" ui-sref="main.app.basic.dashboard.detail" ui-sref-active="{'active':'main.app.basic.dashboard.detail'}">Dashboard</span>
        <span class="menu-items cursor-pointer" ui-sref="main.app.basic.platform.id" ui-sref-active="{'active':'main.app.basic.platform.**'}">Test Runs</span>
    </div>
</div>
<!-- <div ng-include=" '/public/basic/views/left-nav.html' "></div> -->
<!-- <div class=""></div> -->
<div class="body-wrapper" ui-view="basicContent"></div>