<!-- Top container -->
<div class="left-nav-container" ng-class="sidebar ? 'col-xs-2 open': 'col-xs-1 closed'" ng-include="'/public/basic/views/left-nav.html'"></div>
<div class="muted-col" ng-class="sidebar ? 'col-xs-10': 'col-xs-11 sidebar-closed-body'">
    <div class="top-bar-container" ng-class="{'sidebar-close' : !sidebar}">
        <div class="pull-left toggle-menu" ng-click="toggleSideBar()">
            <i class="fa fa-bars"></i>
            <!-- <span class="h4 cursor-pointer" ui-sref="main.app.basic.dashboard.detail">Automation Dashboard</span> -->
        </div>
        <div class="pull-right filter-menu" ng-click="toggleFilter()" ng-if="show_filter">
            <i class="fa fa-filter"></i>
            <!-- <span class="menu-items cursor-pointer" ui-sref="main.app.basic.dashboard.detail" ui-sref-active="{'active':'main.app.basic.dashboard.detail'}">Dashboard</span>
            <span class="menu-items cursor-pointer">Test Runs</span> -->
        </div>
    </div>
    <div class="body-wrapper" ui-view="basicContent"></div>
</div>