<div class="test-run-wrapper col-sm-10" style="margin-top:20px;">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-1 dashboard-row">
            <div class="col-sm-4">
                <div class="test-stats-panel white-bg cursor-pointer" ui-sref="main.app.basic.platform.id">
                    <div class="test-stats-header">
                        <p class="h4">WEB</p>
                        <p class="h5">V1.5</p>
                        <div class="line"></div>
                    </div>
                    <span>PASSED TEST RUNS</span>
                    <p>
                        <span class="h1">46</span>
                        <span>%</span>
                    </p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="success-number h4">
                                    <span>10</span>
                                    <span>
                                        <i class="fa fa-check-circle"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fail-number h4">
                                    <span>10</span>
                                    <span>
                                        <i class="fa fa-times-circle"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <p>(Out of 20)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="test-stats-panel white-bg cursor-pointer" ui-sref="main.app.basic.platform.id">
                    <div class="test-stats-header">
                        <p class="h4">ANDROID</p>
                        <p class="h5">V1.5</p>
                        <div class="line"></div>
                    </div>
                    <span>PASSED TEST RUNS</span>
                    <p>
                        <span class="h1">46</span>
                        <span>%</span>
                    </p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="success-number h4">
                                    <span>10</span>
                                    <span>
                                        <i class="fa fa-check-circle"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fail-number h4">
                                    <span>10</span>
                                    <span>
                                        <i class="fa fa-times-circle"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <p>(Out of 20)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="test-stats-panel white-bg cursor-pointer" ui-sref="main.app.basic.platform.id">
                    <div class="test-stats-header">
                        <p class="h4">MOBILEWEB</p>
                        <p class="h5">V1.5</p>
                        <div class="line"></div>
                    </div>
                    <span>PASSED TEST RUNS</span>
                    <p>
                        <span class="h1">46</span>
                        <span>%</span>
                    </p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="success-number h4">
                                    <span>10</span>
                                    <span>
                                        <i class="fa fa-check-circle"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fail-number h4">
                                    <span>10</span>
                                    <span>
                                        <i class="fa fa-times-circle"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <p>(Out of 20)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-sm-offset-1 dashboard-row">
            <div class="col-sm-offset-2 col-sm-4">
                <div class="test-stats-panel white-bg cursor-pointer" ui-sref="main.app.basic.platform.id">
                    <div class="test-stats-header">
                        <p class="h4">IOS</p>
                        <p class="h5">V1.5</p>
                        <div class="line"></div>
                    </div>
                    <span>PASSED TEST RUNS</span>
                    <p>
                        <span class="h1">46</span>
                        <span>%</span>
                    </p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="success-number h4">
                                    <span>10</span>
                                    <span>
                                        <i class="fa fa-check-circle"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fail-number h4">
                                    <span>10</span>
                                    <span>
                                        <i class="fa fa-times-circle"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <p>(Out of 20)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="test-stats-panel white-bg cursor-pointer" ui-sref="main.app.basic.platform.id">
                    <div class="test-stats-header">
                        <p class="h4">API</p>
                        <p class="h5">V1.5</p>
                        <div class="line"></div>
                    </div>
                    <span>PASSED TEST RUNS</span>
                    <p>
                        <span class="h1">46</span>
                        <span>%</span>
                    </p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="success-number h4">
                                    <span>10</span>
                                    <span>
                                        <i class="fa fa-check-circle"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fail-number h4">
                                    <span>10</span>
                                    <span>
                                        <i class="fa fa-times-circle"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <p>(Out of 20)</p>
                </div>
            </div>
        </div>
    </div>
</div>