<div class="dashboard-container" ng-controller="dashboardCtrl">
    <div class="col-sm-12 white-bg loader-container" ng-if="dashboard.page_loader">
        <div class="page-loader"></div>
    </div>
    <div class="col-sm-12 dashboard-cards-container" ng-if="!dashboard.page_loader">
        <div class="col-md-2 col-sm-4 col-xs-12 white-bg tile_stats_count" ng-repeat="release in dashboard.release_data">
            <div class="test-stats-header text-center">
                <span class="h5">{{release.release}}</span>
                <p class="text-muted dashboard-date">{{release.start_time | date:'MMM d, y'}} - {{release.end_time | date:'MMM d, y'}}</p>
                <div class="line"></div>
            </div>
            <div class="stats-wrapper">
                <div class="row stats-container cursor-pointer" ng-repeat="stats in release.releaseStats" ng-click="goToState(release.release, stats.platformType)">
                    <div class="col-xs-5" style="padding-right:0;">
                        <span class="h5"> {{stats.platformLabel}}</span>
                        <br>
                        <span class="font-12">Total: {{stats.total_tests}}</span>
                        <br>
                        <span class="font-12">Passed: {{stats.passed_tests}}</span>
                        <br>
                        <span class="font-12">Failed: {{stats.failed_tests}}</span>
                        <br>
                    </div>
                    <div class="col-xs-7 muted-col">
                        <canvas id="pie_{{$index}}" class="chart chart-pie" chart-data="stats.stacked.value" chart-labels="labels" chart-options="options"
                            chart-colors="chart_colors">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="row view-details-btn">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="goToLatestRelease(release.release)">
                        View Details
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!dashboard.page_loader && !dashboard.release_data">
        <div class="no-data-container white-bg">
            <p class="text-center h3 text-wrapper">No data found</p>
        </div>
    </div>
</div>