<div class="test-run-wrapper" style="margin-top:20px;" ng-controller="dashboardCtrl">
    <div class="col-sm-12 white-bg loader-container" ng-if="dashboard.page_loader">
        <div class="page-loader"></div>
    </div>
    <div class="col-sm-12" ng-if="!dashboard.page_loader">
        <div class="col-md-2 col-sm-4 col-xs-12 white-bg tile_stats_count" ng-repeat="release in dashboard.release_data">
            <div class="test-stats-header">
                <span class="h5">{{release.release}}</span>
                <p class="text-muted dashboard-date">{{release.start_time | date:'MMM d, y'}} - {{release.end_time | date:'MMM d, y'}}</p>
                <div class="line"></div>
            </div>
            <table class="dashboard-stats-table">
                <tr class="text-muted dashboard-date">
                    <td>Platform</td>
                    <td class="text-center">Total</td>
                    <td class="text-center">Passed</td>
                </tr>
                <tr class="test-stats-row cursor-pointer" ng-repeat="stats in release.releaseStats" ng-click="goToState(release.release, stats.platformType)">
                    <td>
                        <span>
                            {{dashboard.platform_map[stats.platformType]}}
                        </span>
                        <span ng-if="stats.passed_tests + stats.failed_tests !== stats.total_tests">
                            <i class="fa fa-circle in-progress"> </i>
                        </span>
                    </td>
                    <td class="text-center">
                        {{stats.total_tests}}
                    </td>
                    <td class="text-center">
                        {{stats.passedPercentage}}%
                    </td>
                </tr>
            </table>
            <!-- <p class="text-muted dashboard-date">
                <span>Platform</span>
                <span class="total-tests">Total</span>
                <span class="pull-right">Passed</span>
            </p>
            <p class="test-stats-row cursor-pointer" ng-repeat="stats in release.releaseStats" ng-click="goToState(release.release, stats.platformType)">
                <span>{{dashboard.platform_map[stats.platformType]}}</span>
                <i>
                    <span class="text-muted total-tests">({{stats.total_tests}})</span>
                </i>
                <span class="pull-right">{{stats.passedPercentage}}%</span>

            </p> -->
        </div>
    </div>
    <div class="col-sm-12 chart-container" ng-if="!dashboard.page_loader && dashboard.release_data">
        <div class="heading-5 white-bg col-xs-12" style="padding-top:10px;">
            <span class="h5">Release Stats</span>
            <br>
            <soan class="h6 text-muted">Last 5 releases</soan>
        </div>
        <canvas id="line" class="chart chart-bar white-bg" height="75" chart-data="dashboard.chart_data" chart-labels="dashboard.chart_labels"
            chart-series="dashboard.chart_series" chart-options="dashboard.chart_options" chart-colors="dashboard.chart_colors">
        </canvas>
    </div>
    <div ng-if="!dashboard.page_loader && !dashboard.release_data">
        <div class="no-data-container white-bg">
            <p class="text-center h3 text-wrapper">No data found</p>
        </div>
    </div>
</div>