<div class="test-run-wrapper">
    <!-- summary section -->
    <div class="col-sm-3">
        <div class="test-stats-panel white-bg">
            <p>Run ID:1234 </p>
            <p>Suite name: Suite 1</p>
            <p>Platform: Web</p>
            <p>Release: R1</p>
            <p>Environment: Dev</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="test-stats-panel white-bg">
            <span>PASSED TEST RUNS</span>
            <p class="h1">50%</p>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="success-number h4">
                            <span>10</span>
                            <span>
                                <i class="fa fa-check-circle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="fail-number h4">
                            <span>10</span>
                            <span>
                                <i class="fa fa-times-circle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <p>(Out of 20)</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="test-stats-panel white-bg">
            <p>Start Time: 12th June</p>
            <p>End Time: 13th June</p>
            <p>Elapsed Time: 1day</p>
        </div>
    </div>
    <div class="col-sm-3" ng-if="run_details.platform ==='WEB'">
        <div class="test-stats-panel white-bg">
            <p>Browser:Chrome</p>
            <p>Headless:No</p>
            <p>OS Name: Mac</p>
        </div>
    </div>
    <div class="col-sm-3" ng-if="run_details.platform ==='ANDROID' || run_details.platform ==='IOS'">
        <div class="test-stats-panel white-bg">
            <p>DEvice Id:123234</p>
            <p>Build Id: 324872</p>
            <p>Device NAme:Android</p>
        </div>
    </div>
    <div class="col-sm-3" ng-if="run_details.platform ==='MOBILEWEB'">
        <div class="test-stats-panel white-bg">
            <p>Browser:Chrome</p>
            <p>Headless:No</p>
            <p>OS Name: Mac</p>
            <p>DEvice Id:123234</p>
            <p>Build Id: 324872</p>
            <p>Device NAme:Android</p>
        </div>
    </div>
    <!-- table -->
    <div class="col-md-12 test-run-table-wrapper">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>S.No</th>
                    <th>Test Name</th>
                    <th>Status</th>
                    <th>Duration</th>
                    <th>Status</th>
                    <th>Error Message</th>
                    <th>Details</th>
                </tr>
                <tr class="white-bg">
                    <td>{{data.id}}</td>
                    <td>{{data.suiteName}}</td>
                    <td>{{1531405202874 | date}}</td>
                    <td>{{data.release}}</td>
                    <td>{{data.Status}}</td>
                    <td>{{data.end_time}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="openTestDetails(test_id)">See Details</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>