<div class="filter-container">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label" for="suite-name">Suite Name</label>
            <input name="suite-name" type="text" class="form-control">
        </div>
        <p>Platform</p>
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox"> Web
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox"> Mobile Web
            </label>
        </div>
        <div class="checkbox">

            <label class="control-label">
                <input type="checkbox"> Android
            </label>
        </div>
        <div class="checkbox">

            <label class="control-label">
                <input type="checkbox"> iOS
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox"> API
            </label>
        </div>
        <p>Realease</p>
        <div class="form-group">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <p>Environment</p>
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox"> Production
            </label>
        </div>
        <div class="checkbox">

            <label class="control-label">
                <input type="checkbox"> Testing 1
            </label>
        </div>
        <div class="checkbox">

            <label class="control-label">
                <input type="checkbox"> Testing 2
            </label>
        </div>
        <div class="checkbox">

            <label class="control-label">
                <input type="checkbox"> Hotfix
            </label>
        </div>
        <div class="checkbox">

            <label class="control-label">
                <input type="checkbox"> Dev
            </label>
        </div>
        <p>Status</p>
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox"> In-progress
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox"> Completed
            </label>
        </div>
        <p>Dates</p>
        <div class="radio">
            <label>
                <input type="radio" name="optradio">Last 24 hours</label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optradio">Yesterday</label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optradio">Last 1 week</label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optradio">Custom Range</label>
        </div>
    </form>
</div>