<div class="modal-dialog run-details-modal-container">
    <div class="modal-content">
        <ul class="nav nav-tabs">
            <li ng-click="changeTab('test_steps')" ng-class="{'active' : error_details.active_tab === 'test_steps'}">
                <a href="javascript:void(0)">Test Steps</a>
            </li>
            <li ng-if="error_details.test_data.testStatus === 'FAIL'" ng-click="changeTab('screenshot')" ng-class="{'active' : error_details.active_tab === 'screenshot'}">
                <a href="javascript:void(0)">Screenshot</a>
            </li>
            <li ng-click="changeTab('test_data')" ng-class="{'active' : error_details.active_tab === 'test_data'}">
                <a href="javascript:void(0)">Test Data</a>
            </li>
            <li ng-click="changeTab('console_logs')" ng-class="{'active' : error_details.active_tab === 'console_logs'}">
                <a href="javascript:void(0)">Console Logs</a>
            </li>
        </ul>
        <div class="modal-body" ng-if="error_details.active_tab === 'test_steps'">
            <ol class="test-steps-list">
                <li ng-repeat="line in error_details.test_data.test_steps_array track by $index">
                    {{line}}
                </li>
            </ol>
        </div>
        <div class="modal-body" ng-if="error_details.active_tab === 'screenshot'">
            <div class="screenshot-image cursor-pointer">
                <img ng-src="{{error_details.test_data.screenshot}}">
                <!-- <img ng-click="openImage()" src="http://res.cloudinary.com/dqnsruihk/image/upload/v1532592350/web/rmwjtwnqgxwdnrpko0sr.png"> -->
            </div>
        </div>
        <div class="modal-body" ng-if="error_details.active_tab === 'test_data'">
            <ul>
                <li ng-repeat="line in error_details.test_data.test_data_array track by $index">
                    {{line}}
                </li>
            </ul>
        </div>
        <div class="modal-body" ng-if="error_details.active_tab === 'console_logs'">
            {{error_details.test_data.consoleLogs}}
        </div>
    </div>
</div>