<!-- Filters -->
<div class="filter-wrapper white-bg" ng-show="filter_overlay">
    <div ng-include="'/public/test-run/views/test-run-filter.html'"></div>
</div>
<div class="row test-run-wrapper">
    <div class="breadcrumb-container">
        <ul class="breadcrumb">
            <li class="cursor-pointer">
                <a ui-sref="main.app.basic.dashboard.performance">Dashboard</a>
            </li>
            <li class="active">
                Test Runs
            </li>
        </ul>
    </div>

    <!-- table -->
    <div class="col-md-12 test-run-table-wrapper">
        <div class="col-sm-12 white-bg loader-container" ng-if="test_run.page_loader">
            <div class="page-loader"></div>
        </div>
        <div class="table-responsive" ng-if="!test_run.page_loader">
            <table class="table table-hover white-bg">
                <tbody>
                    <tr>
                        <th class="run-id-col" ng-click="sortTestRuns('id')" ng-class="{'ascending': test_run.sortable_column.id !== undefined && test_run.sortable_column.id
                    && test_run.list.length > 0,'descending':test_run.sortable_column.id !== undefined &&!test_run.sortable_column.id
                    && test_run.list.length > 0,'cursor-pointer' : test_run.list.length > 0}">
                            <span>Run ID</span>
                            <span class="header-icons">
                                <i class="fa fa-sort-up"></i>
                                <i class="fa fa-sort-down"></i>
                            </span>
                        </th>
                        <th ng-click="sortTestRuns('suiteName')" ng-class="{'ascending': test_run.sortable_column.suiteName !== undefined && test_run.sortable_column.suiteName
                    && test_run.list.length > 0,'descending':test_run.sortable_column.suiteName !== undefined &&!test_run.sortable_column.suiteName
                    && test_run.list.length > 0,'cursor-pointer' : test_run.list.length > 0}">
                            <span>SuiteName</span>
                            <span class="header-icons">
                                <i class="fa fa-sort-up"></i>
                                <i class="fa fa-sort-down"></i>
                            </span>
                        </th>
                        <th ng-click="sortTestRuns('platform')" ng-class="{'ascending': test_run.sortable_column.platform !== undefined && test_run.sortable_column.platform
                    && test_run.list.length > 0,'descending':test_run.sortable_column.platform !== undefined &&!test_run.sortable_column.platform
                    && test_run.list.length > 0,'cursor-pointer' : test_run.list.length > 0}">
                            <span>Platform</span>
                            <span class="header-icons">
                                <i class="fa fa-sort-up"></i>
                                <i class="fa fa-sort-down"></i>
                            </span>
                        </th>
                        <th ng-click="sortTestRuns('release')" ng-class="{'ascending': test_run.sortable_column.release !== undefined && test_run.sortable_column.release
                    && test_run.list.length > 0,'descending':test_run.sortable_column.release !== undefined &&!test_run.sortable_column.release
                    && test_run.list.length > 0,'cursor-pointer' : test_run.list.length > 0}">
                            <span>Release</span>
                            <span class="header-icons">
                                <i class="fa fa-sort-up"></i>
                                <i class="fa fa-sort-down"></i>
                            </span>
                        </th>
                        <th ng-click="sortTestRuns('env')" ng-class="{'ascending': test_run.sortable_column.env !== undefined && test_run.sortable_column.env
                    && test_run.list.length > 0,'descending':test_run.sortable_column.env !== undefined &&!test_run.sortable_column.env
                    && test_run.list.length > 0,'cursor-pointer' : test_run.list.length > 0}">
                            <span>Environment</span>
                            <span class="header-icons">
                                <i class="fa fa-sort-up"></i>
                                <i class="fa fa-sort-down"></i>
                            </span>
                        </th>
                        <th ng-click="sortTestRuns('start_time')" ng-class="{'ascending': test_run.sortable_column.start_time !== undefined && test_run.sortable_column.start_time
                    && test_run.list.length > 0,'descending':test_run.sortable_column.start_time !== undefined &&!test_run.sortable_column.start_time
                    && test_run.list.length > 0,'cursor-pointer' : test_run.list.length > 0}">
                            <span>Started</span>
                            <span class="header-icons">
                                <i class="fa fa-sort-up"></i>
                                <i class="fa fa-sort-down"></i>
                            </span>
                        </th>
                        <th>
                            <span> Completion %</span>
                        </th>
                    </tr>
                    <tr ng-repeat="data in test_run.list" class="cursor-pointer white-bg" ng-click="openRunDetails(data.platform,data.id)">
                        <td>{{data.id}}</td>
                        <td>{{data.suiteName}}</td>
                        <td>{{test_run.platform_map[data.platform]}}</td>
                        <td>{{data.release}}</td>
                        <td>{{test_run.env_map[data.env]}}</td>
                        <td>{{elapsedTime(data.start_time)}}</td>
                        <td>
                            <!-- tooltip-placement="'top'" uib-tooltip="On the top" -->
                            <uib-progress ng-if="data.completionPercent >0">
                                <uib-bar ng-repeat="bar in data.stacked.value track by $index" value="bar" type="{{ data.stacked.type[$index]}}">
                                    <span ng-hide="bar < 5">{{bar}}%</span>
                                </uib-bar>
                            </uib-progress>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- pagination -->
<div class="pagination-container" ng-if="!test_run.page_loader">
    <div class="col-sm-12">
        <div class="col-sm-10 text-center">
            <ul uib-pagination total-items="test_run.page.total_items" ng-model="test_run.page.current_page" max-size="test_run.page.max_size"
                items-per-page="test_run.page.page_size" class="pagination" boundary-link-numbers="true" ng-change="getTestRuns()"></ul>
        </div>
        <div class="col-sm-1 page-size-container pull-right">
            <!-- <span class="show-label">Show</span> -->
            <ui-select ng-model="test_run.page.page_size" search-enabled="false" ng-change="changePageSize()">
                <ui-select-match placeholder="Size">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="size in test_run.page.sizes">
                    <div class="ui-select-choices-text">{{size}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>